/* start by removing all margin and padding for consistency */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #303030;
  background-image: linear-gradient(to right, #b22234 10%, #fff, #3c3b6e 90%)
}
/* header/nav */
header{
  background-color: #b22234;
  font-size: 24px;
  text-align: center;
  margin-top: 1em;
}

nav {
  background-color: #b22234;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1em;
}

/* centering main/headers and making sure text isn't full width */
main {
  width: 90%;
  max-width: 45em;
  margin: auto;
}
h1, h2 {
  font-family: 'Roboto Slab', Georgia, serif;
  text-align: center;
}

/* make links less ugly */
.button {
  font-family: 'Roboto Slab', Georgia, serif;
  font-size: 20px;
  background-color: #3c3b6e;
  border: 2px solid #282749;
  border-radius: 6px;
  color: white;
  padding: 0.5em;
  text-align:center;
  vertical-align:middle;
  text-decoration: none;
  display: inline-block;
}

nav a {
  background-color: #b22234;
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
nav a:hover {
  background-color: #EDAE49;
}

span.emphasized {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

/* space around links in link sections */
.links h2 {
  margin-top: 1em;
}

/* CSS for jQuery expandable sections */
#articles .ui-accordion-header {
  font-family: 'Roboto Slab', Georgia, serif;
  background-color: #3c3b6e;
  margin: 0px;
  font-size: 20px;
  color: #fff;
}
#articles .ui-accordion-content {
  font-family: 'Lato', Arial, sans-serif;
  background-color: #fff;
  max-height: 400px;
}

/*CSS for Article Analysis*/
#analysis_body{
  text-align: center;
}
.btn{
  font-family: 'Roboto Slab', Georgia, serif;
  background-color: #b22234;
  color:#fff;
  font-size: 15px;
  padding: 10px;
  display: inline-block;
  border: 1px solid white;
}
.btn:hover{
  background-color: #EDAE49;
}
.analysis{
  display: none;
  background-color: #fff;
  padding: 20px;
  font-size: 15px;
  max-height: 400px;
  text-align: left;
}