
#articles .ui-accordion-header {
    background-color: #3c3b6e;
    margin: 0px;
    font-size: 20px;
    color: #fff;
}
#articles .ui-accordion-content{
    background-color: #fff;
    height: 400px;
}

.head{
    text-align: center;
}
.link{
    background-color: #b22234;
    color: #fff;
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.link:hover{
    background-color: #EDAE49;
}
header{
    background-color: #b22234;
    margin: 0px;
}
body{
    padding: 0%;
    margin: 0%;
    background-image: linear-gradient(to right, #b22234, #fff, #3c3b6e)
}

